@font-face {
	 font-family: GodOfWar;
}

html {
	overflow-x: hidden;
}

body {
     background-color: black;
}

#Title {
	 margin-top: 55px;
}

.Game {
	 position: relative;
     width: 840px;
     max-height: 800px;
	 border-radius: 12px;
     background-color: #464646; /* #970b0c */
     color: #501003; /* #ffad15 */
     margin: 30px auto 0px;
     padding: 12px;
     font-family: GodOfWar;
	 animation: tilt-n-move-shaking;
	 animation-duration: 0.5s;
	 animation-timing-function: linear;
	 animation-iteration-count: infinite;
	 animation-play-state: paused;
}

/* Icons and containers styling */

#music-option, #settings {
	 height: 42px;
	 width: 35px;
	 background-color: #464646;
	 border-radius: 20px;
	 border: 2px solid #1a1210;
}

#music-option:hover, #settings:hover {
	 background: grey;
	 cursor: pointer;
	 border: 2px solid #332822;
	 box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#porp {
	 font-family: Arial;
	 font-size: 12px;
	 color: white;
	 display: none;
}

.Settings {
	 display: none;
	 background: linear-gradient(#0d0d0d, grey, #614051);
	 border: 2px solid #614051;
	 border-radius: 8px;
	 z-index: 2;
	 width: 280px;
	 height: 220px;
	 margin-top: 12px;
	 padding: 8px;
	 position: absolute;
	 left: 14.2cm;
	 color: lightgrey;
}

.Settings p {
	 text-align: center;
}

#settings {
	float: right;
}

#lower-volume, #higher-volume, #mute {
	 margin-top: 17px;
	 color: lightgrey;
}

#lower-volume:hover, #higher-volume:hover, #mute:hover {
	 cursor: pointer;
	 color: #2e271d;
}

#higher-volume {
	 transform: translate(65px,0)
}

#lower-volume{
     transform: translate(125px,72px)
}

#mute {
	 transform: translate(40px,40px)
}

#Volume {
	 color: #2e271d;
}

#expand {
	 margin-left: 12px;
}

#expand:hover {
	 cursor: pointer;
	 color: #2e271d;
	 scale: 1.2;
}

/* Containers and text syling */

.Stats {
	 margin-bottom: 12px;
     padding: 5px;
     color: c78d2c;
	 text-align: center;
}

#Exp-text, #Health-text, #Orbs-text {
	 color: #d3d3d3;
}

.Controls {
	 padding: 5px;
	 text-align: center;
}
.Enemy-stats {
     display: none;
	 border-radius: 12px;
	 margin-bottom: 17px;
	 width: 400px;
     padding: 5px;
	 text-align: center;
     color: #7c6611;
     background-color: #2e1a13;
	 animation: slide;
	 animation-iteration-count: 1;
	 animation-duration: 0.8s;
	 animation-timing-function: linear;
}

.stat {
     padding-right: 12px;
	 font-size: 17px;
}

#text, #text2 {
	 font-size: 17px;
     color: white; /* #ffad15 */
     padding: 10px;
	 margin-bottom: 15px;
}

#text2 {
	 display: none;
	 width: 666px;
	 color: #ffad15;
}

#Enemy-info {
	 display: none;
	 margin-top: 15px;
	 margin-bottom: 15px;
	 padding: 5px;
	 border-radius: 8px;
	 width: 666px;
	 border: 3px outset #501003;
	 text-align: center;
	 font-size: 17px;
	 color: #1d0807;
	 background-color: #97897c;
	 animation: slide;
	 animation-iteration-count: 1;
	 animation-duration: 0.8s;
	 animation-timing-function: ease-in-out;
}

/* Image styling */

#Kratos-at-Sparta {
	 height: 220px;
	 width: 480px;
	 border: 4px inset #464646;
	 margin-bottom: 28px;
}

#Trader, #Mvillager, #At-Trader, #B-o-c, #Potion, 
#Nemesis-whip, #Whip-claim, #Gauntlet-of-Zeus, 
#Gauntlet-claim, #Claws-of-Hades, #Claws-claim, 
#Blade-of-Olympus, #Blade-claim, #Underworld, 
#Kratos-in-Underworld, #Hoplite, #Hoplite-attack, 
#Hoplite-kill, #Banshee, #Banshee-attack, #Banshee-kill, 
#Satyr, #Satyr-attack, #Satyr-kill, #Minotaur, #Minotaur-attack, 
#Minotaur-kill, #Medusa, #Medusa-attack, #Medusa-kill, 
#Cyclops, #Cyclops-attack, #Cyclops-kill, #Mount-Olympus, 
#Kratos-at-Olympus, #Hermes, #HermesxKratos, 
#Hermes-fight, #Hermes-kill, #Hercules, #HerculesxKratos, 
#Hercules-fight, #Hercules-kill, #Zeus, #ZeusxKratos, 
#Zeus-fight, #Zeus-kill, #Kratos-running, #You-dead, 
#Kratos-dead, #Sparta {
	 display: none;
	 height: 220px;
	 width: 480px;
	 border: 4px inset grey;
	 margin-bottom: 28px;
	 animation: opacity;
}

#Sparta {
	border: 4px inset #20130c;
}

#Trader, #At-Trader {
	border: 4px inset #09090b;
}
#Mvillager, #Potion, #B-o-c, #Nemesis-whip, #Whip-claim, #Gauntlet-of-Zeus, #Gauntlet-claim, #Claws-of-Hades, #Claws-claim,
#Blade-of-Olympus, #Blade-claim, #Hoplite, #Banshee, #Satyr, #Minotaur, #Medusa, #Cyclops, #Hermes, #Hercules, #Zeus,
#Kratos-running, #You-dead, #Kratos-dead {
	border: none;
}

#Mvillager {
	width: 180px;
}
#Potion {
	width: 220px;
}
#Gauntlet-of-Zeus {
	width: 227px;
}
#Gauntlet-claim {
	width: 140px;
}
#Blade-of-Olympus {
	width: 365px;
}

#Underworld {
	width: 580px;
	border: 4px inset #2f1c12;
}

#Kratos-in-Underworld {
	border: 4px outset #3c3837;
}
#Hoplite {
	width: 420px;
}
#Hoplite-attack {
	border: 4px outset #504635;
}
#Hoplite-kill {
	border: 4px outset #1b1a15;
}
#Banshee {
	width: 155px;
}
#Satyr {
	width: 178px;
}
#Satyr-attack {
	border: 4px outset #231710;
}
#Medusa {
	width: 300px;
}
#Medusa-attack {
	width: 390px;
	border: 4px inset #0b072d;
}
#Medusa-kill {
	border: 4px outset #0b072d;
}
#Minotaur-attack, #Medusa-attack, #Medusa-kill {
	border: 4px outset #393220;
	width: 400px;
}

#Mount-Olympus {
	width: 440px;
	border: 4px inset rgba(102,47,18,255);
}

#Kratos-at-Olympus {
	border: 4px inset #32506a;
}
#Hermes, #Hercules {
	width: 188px;
}
#HermesxKratos {
	border: 4px outset #0f2738;
}
#Hermes-fight, #Hermes-kill {
	border: 4px outset #3f2b0b;
}
#HerculesxKratos {
	width: 445px;
	border: 4px outset #59636f;
}
#Hercules-fight {
	width: 380px;
	border: 4px outset #2d2f32;
}
#Hercules-kill {
	width: 435px;
	border: 4px outset #5c9aab;
}
#Zeus {
	width: 135px;
}
#ZeusxKratos {
	border: 3px outset #3f383e;
}
#Zeus-fight {
	border: #3px outset 483849;
}
#Zeus-kill {
	border: 3px outset #a29078;
}

#Kratos-running {
	width: 380px;
}
#You-dead {
	width: 580px;
}

/* Item info styling */

.Sell-price, .Potion-info, .Whip-info, .Gauntlet-info, .Claws-info, .BladeO-info {
    display: none;
	max-width: 220px;
	max-height: 80px;
	padding: 8px;
	position: relative;
	bottom: 2cm;
	z-index: 2;
	border-radius: 5px;
	background-color: #363636;
	color: lightgrey;
	text-align: center;
	line-height: 17px;
}

.Gauntlet-info {
	bottom: 2.8cm;
	left: 1cm;
}

/* Buttons styling */

.Controls button {
     cursor: pointer;
	 background-color: #4b3f33; /* #9e5c08; */
     border: none;
	 padding-bottom: 2px;
	 margin-bottom: 17px;
	 margin-right: 8px;
	 height: 30px;
	 width: 5cm;
	 border-radius: 10px;
     color: #0a0a23;
	 font-size: 17px;
	 font-family: GodOfWar;
}

.Controls button:hover {
	 transition: all 0.3s ease 0s;
	 background-color: darkgrey; /* #a23a15; */
	 color: #630b05;
	 box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#Leave-shop, #Sell-weapon, #Buy-health, 
#Nemesis-whipB, #GauntletB, #Claws, 
#Blade-of-OlympusB, #Leave-Underworld,
#Evade-enemy, #Escape-enemy, #HopliteB, 
#Attack-Hoplite, #BansheeB, #Attack-Banshee,
#SatyrB, #Attack-Satyr, #MedusaB, 
#Attack-Medusa, #MinotaurB, #Attack-Minotaur, 
#CyclopsB, #Attack-Cyclops, #HermesB, #Attack-Hermes, 
 #HerculesB, #Attack-Hercules, #ZeusB, #Attack-Zeus,
#Run-from-god, #Leave-Olympus, #Reset {
	display: none;
	animation: grow;
	animation-delay: 0s;
	animation-timing-function: linear;
	animation-duration: 2s;
}

#Leave-shop, #Leave-Underworld, #Leave-Olympus {
	margin: 0 auto;
}

#Blade-of-OlympusB, #Leave-Underworld, #Leave-Olympus {
	width: 5.2cm;
}

#Hoplite-kill, #Banshee-kill {
	animation: opacity 1.2s linear;
}

#Satyr-kill, #Minotaur-kill, #Medusa-kill, #Cyclops-kill {
	animation: rotateX 1.2s linear;
}

#Mercules-kill, #Hermes-kill, #Zeus-kill {
	animation: rotateY 1.2s linear;
}

/* Hotbar styling */

.Hotbar {
	margin-top: 20px;
	margin-bottom: 12px;
	display: none;
}

#Maxed {
	display: none;
	position: relative;
	bottom: 17px;
	margin-right: 10px;
	font-family: Tahoma;
	font-size: 14px;
	color: white;
}

#Pslot, #Slot1, #Slot2, #Slot3, #Slot4, #Slot5 {
	 margin: 0 auto;
	 display: inline-block;
	 width: 55px;
	 height: 45px;
	 border: 1.8px solid #5a3910;
	 background-size: cover;
	 backface-visibility: hidden;
	 background-attachment: fixed;
}

#Slot1 {
	 border: 3px solid #5a3910; 
}

#Pslot, #Slot2, #Slot3, #Slot4, #Slot5 {
	 display: none;
	 position: relative;
	 animation: slide-from-right 1.2s ease-in-out;
}

#Pslot:hover, #Slot1:hover, #Slot2:hover, #Slot3:hover, #Slot4:hover, #Slot5:hover {
	 cursor: pointer;
}

#Pslot p {
	text-align: right;
}

#Pslot {
	margin-right: 50px;
	background-image: url('Imagery/Health potion .png');
	color: white;
	padding: 5px;
	animation: slide-from-left 1.2s ease-in-out;
}

#Pslot:hover {
   border: 3px solid #5a3910; 
}

#Slot1 {
	 background-image: url('Imagery/boc .png');
}

#Slot2 {
	 background-image: url('Imagery/Nemesis whip .png');
	 background-position: center;
}

#Slot3 {
	 background-image: url('Imagery/goz .png');
}
#Slot3:hover {
	 transition: all 0.3s ease 0s;
	 background-position: center;
}

#Slot4 {
	 background-image: url('Imagery/coh .png');
}

#Slot5 {
	 background-image: url('Imagery/boo .png');
}
#Slot5:hover {
	 transition: all 0.3s ease 0s;
	 background-position: center;
}

/* Animations */

@keyframes slide {
	from{
		margin-left: 80%;
	 }
	to {
		margin-left: 0%;
	}
}

@keyframes slide-from-left {
	from{
		right: 20cm;
	}
	to {
		right: 0;
	}
}

@keyframes slide-from-right {
	from{
		left: 20cm;
	}
	to {
		left: 0;
	}
}

@keyframes grow {
	 20%{transform: scale(0.2, 0.2)}
	 40%{transform: scale(0.4, 0.4)}
	 60%{transform: scale(0.6, 0.6)}
	 80%{transform: scale(0.8, 0.8)}
}

@keyframes tilt-shaking {
     0% { transform: rotate(0deg); }
     25% { transform: rotate(5deg); }
     50% { transform: rotate(0eg); }
     75% { transform: rotate(-5deg); }
     100% { transform: rotate(0deg); }
}

@keyframes vertical-shaking {
     0% { transform: translateY(0) }
     25% { transform: translateY(5px) }
     50% { transform: translateY(-5px) }
     75% { transform: translateY(5px) }
     100% { transform: translateY(0) }
}

@keyframes horizontal-shaking {
     0% { transform: translateX(0) }
     25% { transform: translateX(5px) }
     50% { transform: translateX(-5px) }
     75% { transform: translateX(5px) }
     100% { transform: translateX(0) }
}

@keyframes tilt-n-move-shaking {
     0% { transform: translate(0, 0) rotate(0deg); }
     25% { transform: translate(5px, 5px) rotate(5deg); }
     50% { transform: translate(0, 0) rotate(0eg); }
     75% { transform: translate(-5px, 5px) rotate(-5deg); }
     100% { transform: translate(0, 0) rotate(0deg); }
}

@keyframes opacity {
	 50%{opacity: 0}
}

@keyframes rotateX {
	 100%{transform: rotateX(360deg)}
}

@keyframes rotateY {
	 100%{transform: rotateY(360deg)}
}

@keyframes rotateZ {
	 100%{transform: rotateZ(360deg)}
}

/* Extras styling */

h2 {
	text-align: center;
	font-family: Montserrat;
	color: #835512;
}

#Spartan {
	 display: none;
	 position: absolute;
	 top: 370px;
	 right: 0;
	 height: 294px;
	 width: 199;
}

#Kratos {
	 display: none;
	 height: 300px;
	 width: 240px;
	 position: relative;
     top: 130px;
	 display: black;
}